/*** CART ***/
.cart-main-container {
    width: 100%;
    min-height: 60vh;
    background: rgb(255,255,255);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid green; */
}
.cart-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.empty-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-message {
    font-size: 30px;
    font-style: italic;
    font-family: 'Pacifico';
}
.cart-item-container{
    width: 600px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(228, 224, 224);
    box-shadow: 3px 3px 5px  #f3ecec;
    border-radius: 5px;
    margin: 4px;
    /* border: 1px solid black; */
}
#cart-pic {
    margin: 5px;
}
.cart-details {
    width: 100%;
    height: 130px;
    margin-top: 8px;
    margin-left: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#price {
    align-self: flex-start;
    font-style: italic;
}
.cart-name{
    font-size: 2vh;
    font-family: 'Nunito';
    margin-top: 40px;
    /* border: 1px solid red; */
    
}
.cart-price {
    font-size: 2vh;
    font-family: 'Nunito';
}
.cart-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.cart-btn1 {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 10%;
    color: darkorange;
}
.total-div{
    display: flex;
    justify-content: flex-end;
}
.total{
 font-size: 18px;
 font-style: italic;
 color: darkorange;
}
.pay{
    display: flex;
    justify-content: flex-end;
}
.cart-shop-pay {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1000px){
    .cart-item-container{
        width: 90%;
    }
    .main-cart-container {
        width: 100%;
        /* border: 1px solid red; */
    }
    .cart-details {
        width: 90%;
        /* border: 1px solid red; */
    }
    .cart-btn {
        width: 10px;
        
    }
    .pay{
        width: 70px;
    }
    .btn1 {
        width: 70px;
    }
    .total {
        margin-right: 30px;
    }
}