.landing-page {
    display: flex;
    justify-content: center;
    background: #ecedf8;
     /* border: 2px dashed black; */
}
.landing-pic-div {
    width: 1300px;
    /* height: 100%; */
    height: 600px;
    overflow: hidden;
    display: flex;
    background: rgb(228, 228, 228);    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.landing-pic {
    position: relative;
    z-index: -1;
    transform: scale(1);
    /* transition-timing-function: ease-out; */
    /* transition-duration: .5s; */
}
.landing-pic:hover {
    position: relative;
    transform: scale(1.2);

}
.text-box-div {
    width: 100%;

    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.code-text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.5px;
    font-size: 30px;
    background: #f26650;
    line-height: 50px;
    border-radius: 3px;
}

/*** had to wrap 3 landing pics and give this div a height
so they don't move surrounding elements ***/
.all-pic-wrapper {
    width: 1000px;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid blue; */
}
@media(max-width: 1000px){
    .landing-pic-div{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}

img {
    width: 300px;
    height: 400px;
    border-radius: 3px;
   
}
p {
    font-size: 25px;
    font-family: 'Nunito';
    margin-left: 10px;
    color: white;
    font-style: italic;
}
.pic1-div {
    background-image: url('./../../Assets/FrontPic1.jpeg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    
}
.pic1-div:hover {
    /* border: 1px solid green; */
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
    margin: 35px;
    position: relative;
    z-index: 2;
} 


.pic2-div {
    background-image: url('./../../Assets/FrontPic2.jpeg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transition-timing-function: ease-out;
    transition-duration: .5s;


    /* position: relative;
    margin-right: 20px;
    transform: scale(1);
    transition-timing-function: ease-out;
    transition-duration: .5s; */
    
}
.pic2-div:hover {
    /* border: 1px solid red; */
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
    margin: 35px;
}
.pic3-div {

    background-image: url('./../../Assets/FrontPic3.jpeg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transition-timing-function: ease-out;
    transition-duration: .5s;


    /* position: relative;
    transform: scale(1);
    transition-timing-function: ease-out;
    transition-duration: .5s; */
    /* border: 1px solid red; */
}
.pic3-div:hover {
    /* border: 1px solid red; */
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
    margin: 35px;
}
.bottom-left {
    position: relative;
    z-index: 1;
    bottom: 1px;    
    left: 10px;
    padding-top: 110%;
   
}
 a {
    text-decoration: none;
}

/*** HOLIDAY LOOK PAGE ***/
.holiday-pic-div {
    width: 1400px;
    height: 680px;
    position: relative;
    display: flex;
}
.holiday-pic{
    width: 100%;
    height: 100%;
    
}
.text-center1{
    width: 500px;
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times';
    letter-spacing: 7px;
    /* border: 1px solid red; */
}
.text-center2{
    width: 500px;
    position: absolute;
    top: 60%;
    left: 25%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    letter-spacing: 3px;
    /* border: 1px solid red; */
}
.text-center3{
    width: 500px;
    position: absolute;
    top: 70%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito'
    /* border: 1px solid red; */
}
.holiday-look-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    padding: 30px;
    /* background: lightgreen; */
}
.hol-look {
    width: 1100px;
    /* height: 500px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background: lightpink; */
    /* border: 1px solid darkgreen; */
}
.holiday-pics-div {
    width: 1100px;
    height: 350px;
    /* background: lightblue; */
    display: flex;
    justify-content: space-around;
    
}

.look {
    width: 300px;
    height: 300px;
    /* border: 1px solid blue; */
    
}
.look:hover {
    border: 3px solid gold;
}
.shop-look-text {
    width: 1100px;
    height: 200px;
    font-family: Nunito;
    font-size: 40px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 236, 236);
}
.align-text-div {
    width: 1100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 3px dashed black; */
}
.holiday-page-text{
    height: 30px;
    font-family: Nunito;
    font-size: 23px;
    margin-top: 50px;
    color: black;
    display: flex;
    align-items: flex-end;
    /* background: lightgrey; */
}

@media (max-width: 1000px){
 
    .holiday-pics-div{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 3px solid green; */

    }
    .holiday-pic-div{
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
    }
    .text-center1, .text-center2, .text-center3 {
        width: 70%;
        font-size: 3vh;    
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid blue; */
        top: 20%;
        left: 15%;
    }
    .text-center2 {
        top:25%;
    }
    .text-center3{
        width: 75%;
        top: 30%;
        left: 15%;
    }

    .holiday-pic{
      display: none;
    }
  
    .holiday-look-div {
        /* background: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    .hol-look{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid blue; */
    }
    .shop-look-text{
        width: 100%;
        height: 130px;
        font-size: 24px;
        /* border: 1px solid red; */

    }
    .align-text-div{
        width: 100%;
        /* border: 1px solid purple; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holiday-page-text{
        width: 250px;
        /* border: 1px dashed; */
    }
    .look{
      width: 250px;
      height: 250px;
    }
}


/*** FALL ESSENTIALS ***/
.fall-pic-div {
    width: 1450px;
    height: 600px;
    position: relative;
    background: rgb(248, 241, 243);
   
}
.fall-pic {
    width: 100%;
    height: 100%;
}

.fall-text1{
    width: 400px;
    position: absolute;
    color: white;
    top: 25%;
    left: 55%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 40px;
    font-family: Nunito;
    letter-spacing: 2px;
    line-height: 100%;
    /* border: 1px solid green; */
}
.fall-text2 {
    width: 400px;
    position: absolute;
    color: white;
    top: 45%;
    left: 55%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 26px;
    font-family: Verdana;
    letter-spacing: 2px;
    line-height: 100%;
    /* border: 1px solid black; */
}
.fall-wrapper {
    display: flex;
    justify-content: center;
    background: rgb(248, 241, 243);
}
.fall-look-main-div {
    width: 100%;
    height: 1300px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 241, 243);
}
/*** fall-look-div: 2 texts & img***/
.fall-look-div {
    width: 70%;
    display: flex;
    justify-content: center;
    background: rgb(238, 219, 219);
    border-radius: 5px;   
}
.fall-look {
    
    height: 400px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(197, 192, 192);
    border-radius: 5px;
}

/*** 2 texts***/
.hold-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 20px;
}
.fall-text {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Nunito;
    font-weight: 800;
    font-size: 30px;
    /* background: lightgreen; */
}
.text-fall2 {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana;
    font-size: 20px;
    font-style: italic;
    /* background: grey; */
}

@media(max-width: 1000px) {
    .fall-pic{
        display: none;
    }
    .fall-pic-div{
        width: 85%;
        height: 300px;
        /* border: 1px solid red; */
    }
    .fall-wrapper{
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
    }
    .fall-text1{
        width: 200px;
        /* border: 1px solid red; */
        font-size: 25px;
        color: black;
        display: flex;
        justify-content: center;
        top: 10%;
        left: 15%;
    }
    .fall-text2{
        width: 300px;
        font-size: 18px;
        /* border: 1px solid blue; */
        color: black;
        display: flex;
        justify-content: center;
        top: 35%;
        left: 10%;
    }
    .fall-look-main-div{
        width: 100%;
        /* height: 100%; */
        /* border: 3px solid green; */
    }
    .fall-look-div{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid orange; */
    }
    .hold-text{
        width: 90%;
        margin-bottom: 10px;
        /* border: 1px dashed; */
    }
    .fall-text{
        font-size: 20px;
    }
    .text-fall2{
        font-size: 14px;
    }
    .fall-look{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid blue; */
    }
    #mens-pic{
        /* border: 1px solid orange; */
        width: 200px;
        height: 250px;
    }
}



/*** FESTIVE PAGE ***/
.festive-pic {
    width: 100%;
    height: 700px;
}
.festive-pic-div {
    margin-bottom: 80px;
}
.holiday-text1{
    width: 400px;
    position: absolute;
    color: darkgreen;
    top: 25%;
    left: 35%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 40px;
    font-family: Nunito;
    letter-spacing: 3px;
    /* border: 1px solid red; */
}
.holiday-text2{
    width: 400px;
    position: absolute;
    color: black;
    top: 35%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Nunito;
    letter-spacing: 3px;
    /* border: 1px solid red; */
}
.festive-div {
    background: rgb(192, 235, 238);
}
@media(max-width: 1000px) {
    .festive-pic{
        display: none;
    }
    .fall-text1{
        width: 200px;
        /* border: 1px solid red; */
        font-size: 25px;
        color: black;
        display: flex;
        justify-content: center;
        top: 10%;
        left: 15%;
    }
    .fall-text2{
        width: 300px;
        font-size: 18px;
        /* border: 1px solid blue; */
        color: black;
        display: flex;
        justify-content: center;
        top: 35%;
        left: 10%;
    }
}