.detail-page {
    
        display: flex;
        justify-content: center;
        padding-top: 40px;
}
    
.detail-main-container {
        width: 100%;
        height: 100%;
        background: snow;
        display: flex;
        justify-content: center;
        padding: 30px;
        border-radius: 10px;
        /* border: 1px solid green; */
}
.detail-item-container {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(170, 147, 147);
    background: white;
    border-radius: 10px;
    /* border: 3px solid orange; */
}

.small-pic-div {
    width: 130px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pic2, .pic3 {
    width: 130px;
    height: 140px;
}



.main-pic-div {
    width: 400px;
    height: 400px;

}
.mainPic {
    width: 100%;
    height: 100%;
}
/*** NAME DESCR PRICE BTN***/
.details-div {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px dashed red; */
}
.detail-name{
    font-size: 26px;
    
}
.detail-description {
    max-height: 200px;
}
#hidden {
    
    overflow: scroll;
  
}
.detail-price {
    font-size: 3vh;
    font-family: 'Nunito';
}
/*** BUTTONS ***/
.detail-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.btn1 {
 width: 130px;
 height: 40px;
 font-size: 12px;
 border-radius: 10%;
 color: darkorange;
}
.btn2 {
    width: 130px;
    height: 40px;
    font-size: 15px;
    border-radius: 10%;
    color: darkorange;
   }
   @media (max-width: 1000px){
       .detail-page {
            width: 100%;
            height: 100%;
            padding: 10px;
          
       }
        .detail-main-container {
           /*green Border*/
           width: 100%;
           /* height: 100%; */
           padding: 5px;
           
       } 
       .details-div{
           height: 100%;
       }
       .detail-item-container {
           /* Orange border */
           width: 95%;
           height: 100%;
           display: flex;
           flex-direction: column-reverse;
           align-items: center;
       }
       .mainPic {
           width: 300px;
           height: 300px;
           border: 1px solid lightgrey;
       }
       .main-pic-div{
           /* border: 1px solid green; */
           width: 300px;
           height: 300px;
           margin-bottom: 16px;
       }
     
       .pic2, .pic3 {
           border: 1px solid lightgrey;
       }
       .detail-name {
           font-size: 20px;
           margin-bottom: 20px;
           /* border: 1px solid blue; */
       }
       .detail-price {
           margin-top: 10px;
           margin-bottom: 16px;
           
           /* border: 1px solid green; */
       }
       .detail-description {
           height: 130px;
           font-size: 14px;
           border: 1px solid lightGrey;
           box-shadow: 3px 3px 3px #ebe7e7;
           /* border: 1px solid red; */
       }
       .details-div {
           display: flex;
           justify-content: flex-start;
       }
       .btn2{
           width: 70px;
       }
      
   }