.main-header {
  width: 100%;
  height: 100%;
  /* background:lightgrey; */
  /* color: white;     */
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 
 .persistent-nav {
    width: 100%;
    height: 50px;
    background: black;
    color:white;
    position: fixed;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(41, 39, 39);
    /* border: 3px dashed red; */
 }




 /*** NAME-LOGO DIV ***/
 .logo {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    background-image: url('./../../Assets/THE NEW YOU1.png');
    background-repeat: no-repeat;
    /* border: 1px solid red; */
 }

/**** SEARCH  DIV****/
 .search-div {
 
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   /* border: 1px solid blue; */
 }
 .input-box {
    width: 15vw;
    height: 3vh;
    margin: 9px;
    border-radius: 3px;
    font-family: Nunito;
    font-size: 13px;
    font-style: italic;
    border: none;
 }
 .btn-find {
   width: 4vw;
   height: 2.5vh;
   font-family: Nunito;
   font-size: 13px;
   font-style: italic;
   border: 1px solid white;
 }

 /* .find-box {
    width: 50%;
    border: 1px solid white; 
 } */


 /*** LOGIN DIV ***/
 .nav-login-div {

    width: 30%;
    /* height: 2vh; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 9px; */
    /* border: 1px solid yellow; */
 }
 .nav-login {
    padding-right: 6px;
    font-style: italic;
 }

 .hello-logout-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed white; */
 }

 .hello-message{
    
    font-family: Nunito;
    font-size: 16px;;
    font-style: italic;
    color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    /* border: 1px solid green; */
 }
 
 @media (max-width: 900px) {
   .main-header {
     width: 100%;
     height: 100%;
   }
   .persistent-nav {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .logo{
     width: 130px;
     height: 50px;
     margin-left: 1vw;
     /* border: 1px solid red; */
  }
   .input-box {
     display: none;
   }
   .btn-find {
     display: none;
   }
    .hello-message {
      padding-top: 9px;
      font-size: 14px;
    }
    .nav-login-div {
      width: 30%;
      font-size:10px;
    }
    .hello-logout-div {
      display: flex;
      flex-direction: column;
    }
    .nav-logout {
      font-size: 10px;
      width: 30%;
      display: none;
    }
  
    .bag{
      width: 25px;
      height: 20px;
    }
    .shop-div {
      width: 80px;
      display: flex;
      justify-content: space-between;
      /* border: 1px solid white; */
    }
    .num-item {
      /* border: 1px solid red; */
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
    }
    .num-total {
      /* border: 1px solid yellow; */
      font-size: 14px;
    }
    .category {
      font-size: 16px;
    }
 } 
 .nav-logout {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: italic;
    /* border: 1px solid white; */
 }

 /*** SHOP DIV***/
 .shop-div {
   display: flex;
   width: 160px;
   justify-content: space-around;
   align-items: center;
   /* border: 1px solid green; */
   margin-right: 3vw;
   /* border: 1px solid white; */
 }
 .bag {
    width: 45px;
    height: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid white; */
 }
 .num-item {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 16px;
    /* border: 1px solid white; */
 }
 .num-total {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 16px;
    /* border: 1px solid white; */
 }
 /*** CATEGORIES ***/
 .navbar {
    width: 100%;
    height: 40px;
    background: black;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: white;
 }
 
.slideInDown {
    animation-delay: 0.5s;
 }
 .inner-navbar{
   width: 70%;
   display: flex;
   justify-content: space-around;
 }

 /*** border on category on hover ***/
 .category{
   color: white;
   text-decoration: none;
   position: relative;
   z-index:0;
 }
.category span:before,
.category span:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: white;
  content: '';
  opacity: 0;
  transition: all 0.2s;
}
.category span:before {
  top: 0;
  transform: translateY(10px);
}
.category span:after {
  bottom: 0;
  transform: translateY(-10px);
}
.category span:hover:before,
.category span:hover:after {
  opacity: 1;
  transform: translateY(0px)
}
/*** border on category on hover ***/


